<%= render 'shared/navbar'%>
<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Iniciativas</h1>
  <p class="lead">Iniciativas de mejora para los distintos procesos con foco en procesos estructurados, recolección de datos, precesamiento de datos, y análisis de datos</p>

    <div class="col-auto">
      <h4>Agregar iniciativa</h4>
      <%= button_to new_initiative_path, remote: true, class:'btn btn-round', style:'display:inline-block', data: {toggle:'modal', target:'#initiative-add-modal'} do %>
        <i class="material-icons">add</i>
      <% end %>
      <%= render 'initiatives/new' %>
    </div>


<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-2">
      <center>
      <i class="material-icons">device_hub</i>
      <h5>Estandarización <br>de Procesos</h5>
      </center>
    </div>
    <div class="col-md-2">
      <center>
      <i class="material-icons">cloud_upload</i>
      <h5>Recolección <br>de Datos</h5>
      </center>
    </div>
    <div class="col-md-2">
      <center>
      <i class="material-icons">add_to_home_screen</i>
      <h5>Automatización <br> de Procesos</h5>
      </center>
    </div>
    <div class="col-md-2">
      <center>
      <i class="material-icons">pie_chart</i>
      <h5>Análisis <br>de Datos</h5>
      </center>
    </div>
</div>
<% @initiatives.each do |initiative| %>
  <div class="row">
    <div class="col-md-4">
      <div class="card text-white bg-dark h-100">
        <div class="card-body">
          <div class="dropdown card-options">
            <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">more_vert</i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <%= link_to 'Show', initiative, class:'dropdown-item' %>
              <%= link_to 'Edit', edit_initiative_path(initiative), class:'dropdown-item'  %>
              <%= link_to 'Destroy', initiative, method: :delete, data: { confirm: 'Are you sure?' }, class:'dropdown-item text-danger'  %>
            </div>
          </div>
          <h5 class="card-title"><%= initiative.title %></h5>
          <p class="card-text"><%= initiative.description %></p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Informe de gestión mejorado</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="card-text">Informe de gestión mejorado</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="card-text">Informe de gestión mejorado</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="card-text">Informe de gestión mejorado</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Informe de gestión mejorado</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="card-text">Informe de gestión mejorado</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="card-text">Informe de gestión mejorado</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="card-text">Informe de gestión mejorado</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Informe de gestión mejorado</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="card-text">Informe de gestión mejorado</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="card-text">Informe de gestión mejorado</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="card-text">Informe de gestión mejorado</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Informe de gestión mejorado</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="card-text">Informe de gestión mejorado</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="card-text">Informe de gestión mejorado</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="card-text">Informe de gestión mejorado</p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div> <!-- /container -->
