<%= render 'shared/navbar'%>
<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Iniciativas</h1>
  <p class="lead">Iniciativas de mejora para los distintos procesos con foco en procesos estructurados, recolección de datos, precesamiento de datos, y análisis de datos</p>
  <div class="col-auto" style="display:inline-flex">
    <h4 class="mr-2">Agregar iniciativa</h4>
    <%= button_to new_initiative_path, remote: true, class:'btn btn-round', style:'display:inline-block', data: {toggle:'modal', target:'#initiative-add-modal'} do %>
    <i class="material-icons">add</i>
    <% end %>
    <%= render 'initiatives/new' %>
  </div>
  <div class="title">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">

        </div>
      </div>
      <div class="col-md-2">
        <center>
          <i class="material-icons">device_hub</i>
          <h5>Estandarización <br>de Procesos</h5>
        </center>
      </div>
      <div class="col-md-2">
        <center>
          <i class="material-icons">cloud_upload</i>
          <h5>Recolección <br>de Datos</h5>
        </center>
      </div>
      <div class="col-md-2">
        <center>
          <i class="material-icons">add_to_home_screen</i>
          <h5>Automatización <br> de Procesos</h5>
        </center>
      </div>
      <div class="col-md-2">
        <center>
          <i class="material-icons">pie_chart</i>
          <h5>Análisis <br>de Datos</h5>
        </center>
      </div>
    </div>
  </div>

  <% @initiatives.each do |initiative| %>
  <div class="row" style="background-color:lightgray">
    <div class="col-md-4">
      <div class="initiative h-100">
        <div class="card h-100 bg-light ">
          <div class="card-body">
            <div class="dropdown card-options">
              <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">more_vert</i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to 'Editar', edit_initiative_path(initiative), class:'dropdown-item', data: {toggle:'modal', target:"#initiative-edit-modal-#{initiative.id}" }   %>
                <%= link_to 'Eliminar', initiative, method: :delete, data: { confirm: 'Are you sure?' }, class:'dropdown-item text-danger'  %>
              </div>
            </div>
            <a href="<%= initiative_path(initiative)%>" style="text-decoration:none"><h5 class="card-title" ><%= initiative.title %></h5> </a>
            <p class="card-text"><%= initiative.description %></p>
          </div>
          <div class="card-footer">
            <div class="row align-items-center">
              <div class="col-6" style="display:inline-flex">
                <h7 class="ml-3" style="margin-bottom:0px">Agregar compromiso</h7>
              </div>
              <div class="col-4">
                <%= button_to new_initiative_commitment_path(initiative.id), remote:true, class:'btn btn-round', style:'display:inline-block', data: {toggle:'modal', target:"#initiative-#{initiative.id}-commitment-add-modal"} do  %>
                <i class="material-icons">add</i>
                <% end %>
              </div>
            </div>
            <%= render partial: 'initiatives/commitments/new', locals: {initiative: initiative}%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2" style="height: 300px; overflow-y: scroll !important; background-color:#E0E0E0;">
      <% initiative.commitments.where(stage: 0).each do |commitment| %>
      <div class="commitment">
        <div class="card bg-light ">
          <div class="card-body">
            <div class="dropdown card-options">
              <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">more_vert</i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to 'Ver', commitment, class:'dropdown-item' %>
                <%= link_to 'Editar', edit_initiative_commitment_path(initiative, commitment), class:'dropdown-item'  %>
                <%= link_to 'Eliminar', initiative_commitment_path(initiative, commitment), method: :delete, data: { confirm: 'Are you sure?' }, class:'dropdown-item text-danger'  %>
              </div>
            </div>
            <p class="card-title"><%= commitment.action %></p>
            <div class="card-footer text-muted">
              <%= distance_of_time_in_words(commitment.due_date, Date.today)%> /
              <%= image_tag user_avatar(commitment.responsible_id), class:'avatar-xs mr-1', 'data-toggle':"tooltip", 'data-placement':"top", title:"#{User.find(commitment.responsible_id).email}" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-md-2" style="background-color:#C0C0C0">
      <% initiative.commitments.where(stage: 1).each do |commitment| %>
      <div class="commitment">
        <div class="card bg-light ">
          <div class="card-body">
            <div class="dropdown card-options">
              <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">more_vert</i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to 'Ver', commitment, class:'dropdown-item' %>
                <%= link_to 'Editar', edit_initiative_commitment_path(initiative, commitment), class:'dropdown-item'  %>
                <%= link_to 'Eliminar', initiative_commitment_path(initiative, commitment), method: :delete, data: { confirm: 'Are you sure?' }, class:'dropdown-item text-danger'  %>
              </div>
            </div>
            <p class="card-title"><%= commitment.action %></p>
            <div class="card-footer text-muted">
              <%= distance_of_time_in_words(commitment.due_date, Date.today)%> /
              <%= image_tag user_avatar(commitment.responsible_id), class:'avatar-xs mr-1', 'data-toggle':"tooltip", 'data-placement':"top", title:"#{User.find(commitment.responsible_id).email}" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-md-2" style="background-color:#A0A0A0">
      <% initiative.commitments.where(stage: 2).each do |commitment| %>
      <div class="commitment">
        <div class="card bg-light ">
          <div class="card-body">
            <div class="dropdown card-options">
              <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">more_vert</i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to 'Ver', commitment, class:'dropdown-item' %>
                <%= link_to 'Editar', edit_initiative_commitment_path(initiative, commitment), class:'dropdown-item' %>
                <%= link_to 'Eliminar', initiative_commitment_path(initiative, commitment), method: :delete, data: { confirm: 'Are you sure?' }, class:'dropdown-item text-danger'  %>
              </div>
            </div>
            <p class="card-title"><%= commitment.action %></p>
            <div class="card-footer text-muted">
              <%= distance_of_time_in_words(commitment.due_date, Date.today)%> /
              <%= image_tag user_avatar(commitment.responsible_id), class:'avatar-xs mr-1', 'data-toggle':"tooltip", 'data-placement':"top", title:"#{User.find(commitment.responsible_id).email}" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-md-2" style="background-color:#808080">
      <% initiative.commitments.where(stage: 3).each do |commitment| %>
      <div class="commitment">
        <div class="card bg-light ">
          <div class="card-body">
            <div class="dropdown card-options">
              <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">more_vert</i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to 'Ver', commitment, class:'dropdown-item' %>
                <%= link_to 'Editar', edit_initiative_commitment_path(initiative, commitment), class:'dropdown-item'  %>
                <%= link_to 'Eliminar', initiative_commitment_path(initiative, commitment), method: :delete, data: { confirm: 'Are you sure?' }, class:'dropdown-item text-danger'  %>
              </div>
            </div>
            <p class="card-title"><%= commitment.action %></p>
            <div class="card-footer text-muted">
              <%= distance_of_time_in_words(commitment.due_date, Date.today)%> /
              <%= image_tag user_avatar(commitment.responsible_id), class:'avatar-xs mr-1', 'data-toggle':"tooltip", 'data-placement':"top", title:"#{User.find(commitment.responsible_id).email}" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <%= render partial: 'initiatives/edit', locals: {initiative: initiative} %>
  <% end %>
</div>
