<div class="pages-sign-in">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-signin">
        <%= image_tag 'logo-white', style:'height:55px', class:'mb-4' %>
        <h1 class="h3 mb-3 font-weight-normal text-center">Bienvenido, Registrate</h1>
        <label for="inputEmail" class="sr-only">Correo electrónico</label>
        <%= f.email_field :email, class:'form-control', placeholder:'Correo electrónico', required: 'true' %>
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <%= f.password_field :password, autocomplete: "current-password", class:'form-control', placeholder: 'Contraseña', require:'true' %>
        <label for="inputPasswordConfirmation" class="sr-only">Confirmar Contraseña</label>
        <%= f.password_field :password_confirmation, autocomplete: "current-password", class:'form-control', placeholder: 'Confirmar Contraseña', require:'true' %>

        <%= f.submit 'Registrarse', class:'btn btn-lg btn-primary btn-block' %>
        <hr>
        <%= render "devise/shared/links" %>
        </div>
  <% end %>
</div>
