<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <%= image_tag 'logo-white', style:'height:20px'%>
  <a class="navbar-brand mr-auto mr-lg-0 ml-3" href="#">Estrategia y Mejora Continua</a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
    <ul class=" mr-auto">

    </ul>
    <div class="form-inline my-2 my-lg-0">
      <div class="mr-sm-2">
        <% if user_signed_in? %>
        <li class="nav-item dropdown" style="list-style-type:none">
          <a class="" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white">  <%= current_user.email %>  <%= image_tag user_avatar(current_user.id), class:'avatar-sm' %></a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Preferencias</a>
            <a class="dropdown-item" href="#">Invitaciones  <span class="badge badge-pill bg-light align-text-bottom">27</span></a>
            <a class="dropdown-item" href="<%= destroy_user_session_path %>" data-method="DELETE">Salir</a>
          </div>
        </li>
        <% else %>
        <a href="<%= new_user_session_path %>">Iniciar Sesión</a>
        <a href="<%= new_user_registration_path %>">Registrarse</a>
        <% end %>
      </div>
    </div>
  </div>
</nav>
<% if user_signed_in? %>
<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link active" href="#">Dashboard</a>
    <a class="nav-link" href="<%= initiatives_path %>">Iniciativas <span class="badge badge-pill bg-light align-text-bottom"><%= current_user.initiatives.count %></span></a>
    <a class="nav-link" href="<%= commitments_path %>">Compromisos <span class="badge badge-pill bg-light align-text-bottom"><%= current_user.commitments.count %></span></a>
  </nav>
</div>
<% end %>
