<p id="notice"><%= notice %></p>

<h1>Commitments</h1>

<table>
  <thead>
    <tr>
      <th>Action</th>
      <th>deliverable</th>
      <th>Start date</th>
      <th>Due date</th>
      <th>User</th>
      <th>Initiative</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commitments.each do |commitment| %>
      <tr>
        <td><%= commitment.action %></td>
        <td><%= commitment.deliverable %></td>
        <td><%= commitment.start_date %></td>
        <td><%= commitment.due_date %></td>
        <td><%= commitment.user %></td>
        <td><%= commitment.initiative %></td>
        <td><%= link_to 'Show', commitment %></td>
        <td><%= link_to 'Edit', edit_commitment_path(commitment) %></td>
        <td><%= link_to 'Destroy', commitment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commitment', new_commitment_path %>
